// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our colors
$our-btn-color: #FAA300;
$our-card-color: rgba($our-btn-color, $alpha: 0.05);
$our-text-color: #000000;
$our-bg-color: #ffffff;
