<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Mes favoris</h1>
    </div>
    <div>
      <%= render "shared/card_favorites_list", favorite: @favorites %>
    </div>
  </div>
</div>
