<div class="container">
  <div class="row">
    <div class="col-12" data-controller="hide-div">
      <h2 class="text-center my-3">Mes favoris</h2>
      <div>
       <button data-action="click->hide-div#hide">Map</button>
      </div>
      <div data-hide-div-target="map">
        This is my map
      </div>

      <%= render "shared/card_favorites_list", favorite: @favorites %>
    </div>
  </div>
</div>
