<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center my-3">Mes favoris</h2>
    </div>
    <div>
      <%= render "shared/card_favorites_list", favorite: @favorites %>
    </div>
  </div>
</div>
