<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mt-3" style="margin-bottom:30px;">Mes discussions</h2>
      <%= render "shared/card_chats_list", chatroom: @chatrooms %>
    </div>
  </div>
</div>
