<%# TODO Partial meal : Name / Photo / Price / Rating %>
<%= cl_image_tag meal.photo.key, alt: "food", width: 300, height: 300, crop: :fill %>
<div class="card-meal-show-text">
  <h2><%= meal.name %></h2>
  <p><%= meal.description %></p>
  <p><%= meal.price %>€</p>
</div>
