<%# TODO Partial meal : Name / Photo / Price / Rating %>
<%= cl_image_tag meal.photo.key, alt: "food", width: 300, height: 300, crop: :fill %>
<p><%= meal.name %></p>
<p><%= meal.price %>€</p>
<p><%= meal.description %></p>

