<%# TODO Partial meal : Name / Photo / Price / Rating %>
<div class="meal-img" style="width: 100%; aspect-ratio: 1/1;">
  <%= cl_image_tag meal.photo.key, class:"meal-show-img", alt: "food", width: 300, height: 300, crop: :fill, style: "border-radius: 10px;" %>
</div>
<div class="card-meal-show-text">
  <h2><%= meal.name %></h2>
  <p><%= meal.description %></p>
  <p style="font-size: 23px;"><%= meal.price %>€</p>
</div>
