<h1><%= restaurant.name %></h1>
<%= link_to  edit_restaurant_path(@restaurant) do%>
  <i class="fa-solid fa-pen-to-square" ></i>
<% end %>
<p><i class="fa-solid fa-shop"></i> <%= restaurant.address %></p>
<p><i class="fa-solid fa-phone"></i> <%= restaurant.phone %></p>
