<div class="container">
  <div class="row">
    <div class="col-8">
      <% @meals.each do |meal| %>
        <%= link_to meal_path(meal) do %>
          <%= cl_image_tag meal.photo.key, alt: "food", width: 300, height: 300, crop: :fill %>
        <% end %>
        <h2><%= meal.name %></h2>
        <p><%= meal.price %>€</p>
      <% end %>
    </div>
  </div>
</div>
