<div class="container">
  <div class="row">
    <div class="col-12">
        <h1 class="text-center">Mon restaurant</h1>
      <div class="card card-restaurant my-3">
        <div class="card-body">
          <%= render "shared/restaurant", restaurant: @restaurant %>
        </div>
      </div>
          <%= render "shared/restaurant-card-list", meal: @restaurant.meals %>
    </div>
  </div>
</div>
