.btn-orange {
  border-radius: 20px;
  background-color: $our-btn-color;
  color: $our-card-color;
  font-weight: bold !important;

  &:hover {
    background-color: rgba($our-btn-color, $alpha: 0.7);
  }
}

.btn-over-image {
  position: relative;
  top: 0%;
  left: 0%;
}

.btn-primary {
  background-color: $our-btn-color !important;
  border: $our-btn-color !important;
  color: $our-card-color !important;
  font-weight: bold !important;
}
