.card-restaurant {
  border-radius: 10px;
  background-color: $our-card-color;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  border: none;
}

.card-restaurant a {
  position: absolute;
  top: 15%;
  left: 90%;
}

.card-meal-show {
  border-radius: 10px;
  background-color: $our-card-color;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  img{
    width: 100%;
    height: 100%;
  }
}

.meal-show-button {
  width: 50%;
  margin: auto;
  padding-top: 3vh;
  button {
    width: 90%;
  }
}

.card-meal-show-text {
  text-align: left;
  padding: 10px;
}

.card-meal-list {
  border-radius: 10px;
  background-color: $our-card-color;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.card-price-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.card-meal-infos {
  margin-left: 5px;
  margin-top: 8px;
  height: 100%;
  width: 80%;
  p, h3 {
    margin: 0;
  }
  p{
    font-size:14px;
  }

  .card-meal-description {
    height: 30%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
  }

  .card-chat-description {
    height: 30%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
  }

  .card-meal-name {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 1%;
    margin-top: 4px;
  }
}

// .meal-index {
// // background-size: cover;
// // background-position: center;
// // --meal-index-gradient: rgba(0, 0, 0, 0.8);
// --meal-index-gradient: #5e9ad900, #e271ad00;
// --meal-index-blend-mode: overlay;

// height: 100%;
// border-radius: 20px;
// box-shadow: 2px 2px 6px grey;
// margin-top: 10px;
// margin-bottom: 10px;
// position: relative;
// background-color: #fff0;
// overflow: hidden;
// background-image: linear-gradient(
//     var(--meal-index-gradient),
//     white max(450px)
//   );
// }

// .meal-index img {
//     border-radius: 20px 20px 0 0;
//     width: 100%;
//     object-fit: cover;
//     max-height: 70%;
//     mix-blend-mode: var(--meal-index-blend-mode);
//     margin: 0;
// }

// .meal-index-content {
//   position: absolute;
//   left: 4%;
//   top: 70%;
//   width: 90%;
// }

.fa-plus {
  font-size: large;
}

.all-btns {
  top: 49px;
  right: 63px;
}

.all-btns-show {
  bottom: 76px;
  right: 30px;
  font-size: 40px;
  gap:20px;
}

.btn-delete {
  top: -10px;
  right: 10px;
}

.btn-delete-show {
  top: 13px;
  right: 23px;
  font-size: 30px;
  text-shadow: 0 0 1px #000;
}

.btn-map-index {
  top: 2px;
  right: 10px;
  font-size: 30px;
}
