.card-restaurant {
  border-radius: 10px;
  background-color: $our-card-color;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  border: none;
}

.card-restaurant a {
  position: absolute;
  top: 15%;
  left: 90%;
}

.card-meal-show {
  border-radius: 10px;
  background-color: $our-card-color;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  img{
    width: 100%;
    height: 100%;
  }
}

.meal-show-button {
  width: 50%;
  button {
    width: 90%;
  }
}

.card-meal-show-text {
  text-align: left;
  padding: 10px;
}

.card-meal-list {
  border-radius: 10px;
  background-color: $our-card-color;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.card-price-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.card-meal-infos {
  height: 100%;
  width: 80%;
  p, h3 {
    margin: 0;
  }

  .card-meal-description {
    height: 30%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 60%;
  }

  .card-meal-name {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 1%;
  }
}

.meal-index {
background-size: cover;
background-position: center;
height: 100%;
width: 100%;
border-radius: 20px;
box-shadow: 2px 2px 6px grey;
margin-top: 10px;
margin-bottom: 10px;
position: relative;
}

.meal-index-content {
  position: absolute;
  left: 5%;
  top: 70%;
}

.all-btns {
  top: 43px;
  right: 65px;
}
