.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-bottom: 10px;
  // border-top: 1px solid rgba($color: #000000, $alpha: .05);
  box-shadow: 1px 0 10px 1px #8080807a;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.nav-item.user {
  min-width: calc(100% / 5);
}

.nav-item.owner {
  min-width: calc(100% / 4);
}

.nav-item a {
  color: $our-text-color;
  font-size: 24px;
  text-decoration: none;

  &:hover {
    color: $our-text-color;
  }
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link small {
  margin-top: 5px;
  font-size: x-small;
}

footer {
  margin-top: 80px;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

// .navbar-bottom {
//   display: flex;
//   flex-direction: row;
// }
